<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CT-XAFS_imageRegistration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CT_imageReg_XANESfitting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>CT_reconstruction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>EXAFS_extraction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>EXAFS_fitting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ImagingXAFS_RegAndBkgRemoval.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>OpenCL_Device_Info.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Reslice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Reslice_CTreconst.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>RotationCenterSearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>XAFS-CT_imageRegistration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>XAFSreconst_fitting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>XANES_fitting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>imageBatchBinning.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>imaging2DXAFS_registration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>imgReg_XANESfit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E0E7E031A850BF3006B2DA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E1522F11B16B22C00239AA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E1F8CB31C5E3A1300B44B0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E2304241AA91346005A0A54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E2579D71B6893430014510E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E3B761C1B383F7500BDFBF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E3B76241B3844BD00BDFBF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E3B763D1B38450500BDFBF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E3B76571B38464B00BDFBF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E3B76721B3847C400BDFBF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E3B76851B384A9400BDFBF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E3B76981B384B8800BDFBF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E3BD3E81A87C6CD0080F906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E3BD40C1A8838560080F906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E41B24C1C7311E400EE4B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E434DC91A8AFDD3006A3162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E464B411A4113A100BE6BE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E4845171DAB42FB00F859AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E510BB51A6432A1006B342A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E5DE8EC1A9218200050BDA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E77D01C1B3F00D10062E703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E77D02D1B3F00D10062E703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E7FA6261C002D5400D56F13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E8142E71E2C6BA400F9B04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E8887761F3EC1B100F5688F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EAFD04F1B1BE5C0000542FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EB7283B1F1DCD86003C0F2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EBB07061BD75D9700AE324E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ECC2BEC1ECEBB8D0029EE38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ECC357A1C3A4183002215B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EED262E1E5541AE008CFBC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EEF3C8D1C91250400BB4E0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EFDFD951B2A468D00DC2F4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
